<div class="column small-12 medium-8">
	<div class="box input">
		<input type="text" placeholder="Søg efter lejlighed eller beboer her" ng-model="residentsCtrl.addressSearch">
	</div>
	<div class="row">
		<div class="address" ng-repeat="address in residentsCtrl.addresses">
			<div class="column small-12">
				<h2>{{address.street}}</h2>
			</div>
			<div class="column small-12 large-4" ng-class="{'end':$last}" ng-repeat="unit in address.units | filter:{fullAddress: residentsCtrl.addressSearch}">
				<div class="resident box">
					<h3>{{unit.floor}} {{unit.door}}</h3> 
					<p><span>{{unit.residents}}</span>beboere</p>
					<i class="fa" ng-class="unit.residents > 0 ? 'fa-users' : 'fa-user-times'"></i>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="column small-12 medium-4">
	<div class="box tip">
		<h3>Mangler der adresser eller beboere?</h3>
		<p>sidofj sfjsifojsfjsfiojdsfodsi fjdscjsdiojisjcidfsdfdsdj fdosjfdsojijsifjsdfjdsodsij j sjsdfidsj fdisfjdsio soi vsio jvsdio
			dvjdso vv sifdjos fjsiof jdsfjdso jsdoifjsdoif jdsf jds fjos</p>
		<button class="button-action">Tilføj flere lejligheder</button>
		<button class="button-action">Tilmeld flere beboere</button>
	</div>
</div>