<div class="column small-12 medium-8">
	<div class="box input">
		<input type="text" placeholder="Søg efter lejlighed eller beboer her">
	</div>
	<div class="row">
		<div class="address">
			<div class="column small-12">
				<h2>Nordre Fasanvej 124A</h2>
			</div>
			<div class="column small-12 large-4">
				<div class="resident box">
					<h3>3 TV</h3>
					<p><span>2</span>beboere</p>
					<i class="fa fa-users"></i>
				</div>
			</div>
			<div class="column small-12 large-4">
				<div class="resident box">
					<h3>3 TV</h3>
					<p><span>2</span>beboere</p>
					<i class="fa fa-users"></i>
				</div>
			</div>
			<div class="column small-12 large-4">
				<div class="resident box">
					<h3>3 TV</h3>
					<p><span>0</span>beboere</p>
					<i class="fa fa-user-times"></i>
				</div>
			</div>
			<div class="column small-12 large-4">
				<div class="resident box">
					<h3>3 TV</h3>
					<p><span>2</span>beboere</p>
					<i class="fa fa-users"></i>
				</div>
			</div>
			<div class="column small-12 large-4">
				<div class="resident box">
					<h3>3 TV</h3>
					<p><span>2</span>beboere</p>
					<i class="fa fa-users"></i>
				</div>
			</div>
			<div class="column small-12 large-4">
				<div class="resident box">
					<h3>3 TV</h3>
					<p><span>2</span>beboere</p>
					<i class="fa fa-users"></i>
				</div>
			</div>
			<div class="column small-12 large-4">
				<div class="resident box">
					<h3>3 TV</h3>
					<p><span>2</span>beboere</p>
					<i class="fa fa-users"></i>
				</div>
			</div>
			<div class="column small-12 large-4 end">
				<div class="resident box">
					<h3>3 TV</h3>
					<p><span>2</span>beboere</p>
					<i class="fa fa-users"></i>
				</div>
			</div>
		</div>
		<div class="address">
			<div class="column small-12">
				<h2>Nordre Fasanvej 124A</h2>
			</div>
			<div class="column small-12 large-4">
				<div class="resident box">
					<h3>3 TV</h3>
					<p><span>2</span>beboere</p>
					<i class="fa fa-users"></i>
				</div>
			</div>
			<div class="column small-12 large-4">
				<div class="resident box">
					<h3>3 TV</h3>
					<p><span>2</span>beboere</p>
					<i class="fa fa-users"></i>
				</div>
			</div>
			<div class="column small-12 large-4">
				<div class="resident box">
					<h3>3 TV</h3>
					<p><span>2</span>beboere</p>
					<i class="fa fa-users"></i>
				</div>
			</div>
			<div class="column small-12 large-4">
				<div class="resident box">
					<h3>3 TV</h3>
					<p><span>2</span>beboere</p>
					<i class="fa fa-users"></i>
				</div>
			</div>
			<div class="column small-12 large-4">
				<div class="resident box">
					<h3>3 TV</h3>
					<p><span>2</span>beboere</p>
					<i class="fa fa-users"></i>
				</div>
			</div>
			<div class="column small-12 large-4">
				<div class="resident box">
					<h3>3 TV</h3>
					<p><span>2</span>beboere</p>
					<i class="fa fa-users"></i>
				</div>
			</div>
			<div class="column small-12 large-4">
				<div class="resident box">
					<h3>3 TV</h3>
					<p><span>2</span>beboere</p>
					<i class="fa fa-users"></i>
				</div>
			</div>
			<div class="column small-12 large-4">
				<div class="resident box">
					<h3>3 TV</h3>
					<p><span>2</span>beboere</p>
					<i class="fa fa-users"></i>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="column small-12 medium-4">
	<div class="box tip">
		<h3>Mangler der adresser eller beboere?</h3>
		<p>sidofj sfjsifojsfjsfiojdsfodsi fjdscjsdiojisjcidfsdfdsdj fdosjfdsojijsifjsdfjdsodsij j sjsdfidsj fdisfjdsio soi vsio jvsdio
			dvjdso vv sifdjos fjsiof jdsfjdso jsdoifjsdoif jdsf jds fjos</p>
		<button class="button-action">Tilføj flere lejligheder</button>
		<button class="button-action">Tilmeld flere beboere</button>
	</div>
</div>