<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
		<rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>
		<rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
	<security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
	<staticContent>
		<remove fileExtension=".json" />
		<mimeMap fileExtension=".json" mimeType="application/json" />
		<remove fileExtension=".svg" />
		<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
		<remove fileExtension=".eot" />
		<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
		<remove fileExtension=".otf" />
		<mimeMap fileExtension=".otf" mimeType="font/otf" />
		<remove fileExtension=".woof" />
		<mimeMap fileExtension=".woff" mimeType="font/x-woff" />
		<remove fileExtension=".woof2" />
		<mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
	</staticContent>
	<httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
