<div class="column small-12 medium-5 large-4 large-push-8">
	<div class="row">
		<div class="column small-12">
			<div class="box">
				<h3>{{ 'Association_VerifyAddresses_Header' | translate }}</h3>
				<p translate="Association_VerifyAddresses_Description" translate-compile></p>
				<button class="button-action" ng-click="addAddresses()">Add addresses</button>
			</div>
		</div>
	</div>
</div>
<div class="column small-12 medium-7 large-8 large-pull-4">
	<div class="box" ng-repeat="selection in verifyAddressesCtrl.selections">
		<h3>{{ $index + 1 }}. selection</h3>
		<div class="addresses">
			<div class="address" ng-repeat="address in selection.addresses | orderBy:'fullAddress'">
				<span>{{ address.fullAddress }}</span><i class="fa fa-times" ng-click="verifyAddressesCtrl.removeAddress($parent.$index, address)"></i>
			</div>
		</div>
	</div>
</div>