<div class="column small-12">
	<div class="form">
		<fieldset>
			<legend>Vælg den mulighed du vil bruge for at tilmelde foreningens beboere</legend>
			<div class="fields">
				<div class="row">
					<div class="column small-12 medium-4">
						<div class="register-option" ng-click="addressCodesCtrl.sendViaEmail()">
							<img src="/Assets/Images/illustration_code.svg" />
							<span>
								Send tilmeldingskoder via E-mail
								<span class="option-price free">(gratis)</span>
							</span>
						</div>
					</div>
					<div class="column small-12 medium-4">
						<div class="register-option" ng-click="addressCodesCtrl.printAndShare()">
							<img src="/Assets/Images/illustration_code.svg" />
							<span>
								Print og udlevér tilmeldingskoder
								<span class="option-price free">(gratis)</span>
							</span>
						</div>
					</div>
					<div class="column small-12 medium-4">
						<div class="register-option" ng-click="addressCodesCtrl.sendViaLetter()">
							<img src="/Assets/Images/illustration_code.svg" />
							<span>
								Send tilmeldingskoder via brev
								<span class="option-price">(8,00 kr. per brev)</span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
		<fieldset ng-class="addressCodesCtrl.selectedOption == 1 ? '' : 'hide'">
			<legend>Indtast e-mail adresserne til de beboere der er tilknyttet adresserne</legend>
			<div class="fields">
				<div class="row hide">
					<div class="column small-12 large-4">
						<label>Nordre Fasanvej 124A, 1. tv:</label>
					</div>
					<div class="column small-12 large-8">
						<input type="text" ng-model="addressCodesCtrl.addresses[0].email" />
					</div>
					<div class="column small-12 large-6">
						<label>Nordre Fasanvej 124A, 2. tv:</label>
					</div>
					<div class="column small-12 large-6">
						<input type="text" ng-model="addressCodesCtrl.addresses[1].email" />
					</div>
					<div class="column small-12 large-6">
						<label>Nordre Fasanvej 124A, 3. tv:</label>
					</div>
					<div class="column small-12 large-6">
						<input type="text" ng-model="addressCodesCtrl.addresses[2].email" />
					</div>
				</div>
			</div>
		</fieldset>
	</div>
</div>