.map-container {
    
    width: 100%;
    height: 500px;
    position: relative;
        
    .map-area {
        
        width: 100%;
        height: 100%;
    }
    
    .map-options {
        
        position: absolute;
        background-color: #903838;
        padding: 0.8em 1em;
        border-radius: 2px;
        z-index: 10;
        font-size: 0.9em;
        right: 0.9em;
        top: 0.9em;
        color: #fff;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    }
    
    .map-options i {
        
        margin-right: 0.6em;
        vertical-align: middle;
    }
}

.selections-count {
    
    .selection-count {
        
        margin-top: 1em;
        
        &:first-child {
            margin-top: 0;
        }
        
        p, h4 {
            
            font-size: 0.9em;
            margin: 0;
        }
    }
    
    .button-action {
        
        width: 100%;
    }
}


.addresses {
    
    font-size: 0.9em;
    
    .address {
        
        border-bottom: 1px solid #E2E2E2;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        display: flex;
    
        &:last-child {
            
            border-bottom: 0;
            padding-bottom: 0;
        }
        
        &:hover {
            
            i {
                color: #904D4D;
            }
        }
        
        i {
            
            margin-left: auto;
            align-items: center;
            display: flex;
            padding: 0 0 0 1em;
            color: #D6D8D8;
            z-index: 10;
            cursor: pointer;
            
            &:hover {
                
                color: #F00;
            }
        }
    }
}